.website-title {
    text-align:center;
    color:rgb(245, 18, 200);
    font-size:100px;
    background-image: linear-gradient(105deg,rgb(119, 119, 243),pink,yellow);
}

p {
    text-align:center;
}

.border {
    border:20px double rgb(239, 9, 209);
}

body {
    background-image: linear-gradient(105deg,pink,yellow,rgb(119, 119, 243));
}